body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p {
margin: 0;
padding: 0;
}


h2 {
  margin: .4em 0;
}
h3 {
  margin: .3em 0;
}

ul {
  margin: .5em 0;
}

.main-content ul, .main-content ol {
margin: 1em 0;
padding: 0 0 0.25em 15px;
}




a {
	color: #024d8d;
	text-decoration: none;
}
a:hover {text-decoration: underline;}



body {
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
font-smoothing: always;
font-family: Arial, sans-serif;
font-size: 14px;
line-height: 1.5em;

background-image: url(../images/cheetos_pomaranczowy_1600.jpg);
background-attachment: scroll;
background-color: rgb(0, 0, 0);

}

.list {
  font: normal 14px/2 Arial,sans-serif;
  list-style-type: none;
  border-top: 1px solid #cad6dd;
}
.list li {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #cad6dd;
  padding: 10px 0 8px;
}

.pog {
	background-color: green;
	font: normal 10px/2 Arial,sans-serif;
}

.messages--pogodna {
  font-size: 10px;
  background-image: none;
  padding: 1%;
  box-shadow: none;
  border-left: 8px solid #77b259;
  
}

.level {
  padding-left: 25px;
  border-left: 4px solid #77b259;
}


.container-inline div.messages--pogodna,
.container-inline .messages--pogodna div  {
  display: block;
}

.pogodna-function-name {
  background-color: #AEC7A0;
}