.region-header {
  padding: 11px 10px;
  margin: 0px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Tahoma;
  font-size: 11px;
  color: #3b3b3b;
  line-height: 16px;
  background: #fff;
  border-bottom: solid 1px #d0d0d0;
}




body {
  background-color: #f2f2f2;
}

#header {
  height: 159px;
}

/* prezydent.pl */






.page {
  max-width: 1072px;
  margin: 0 auto;
}
main {
  /*background: url(../images/content_bg.gif) repeat-y 0 0;*/
  /*  margin: 0 -70px 30px;*/
  /*border-image: url(../images/content_bg_left.gif) 0 0 0 1 repeat;*/
  /*border-image: url(../images/content_bg_left.gif) 0 0 0 46 repeat;*/
  border-top: 0; /* bez tego jest margines 3px*/
  border-bottom: 0; /* bez tego jest margines 3px*/
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  -webkit-border-image: url(../images/content_bg2.gif) 0 46 0 46 round;
  -moz-border-image: url(../images/content_bg2.gif) 0 46 0 46 round;
  -o-border-image: url(../images/content_bg2.gif) 0 46 0 46 round;
  border-image: url(../images/content_bg2.gif) 0 46 0 46 round;
}








/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the .layout-content to the right.
 */
img {
  height: auto;
  max-width: 100%;
}
main:after {
  content: "";
  display: table;
  clear: both;
}

.layout-content,
.layout-sidebar-first,
.layout-sidebar-second {
  display: inline;
  position: relative;
}




details,
summary {
  display: block;
}

@media all and (min-width: 480px) and (max-width: 959px) {
  .layout-content {
    width: 67%;
    float: right; /* LTR */
  }
  .layout-sidebar-first {
    width: 33%;
    float: left; /* LTR */
   }
  .layout-sidebar-second {
    float: right; /* LTR */
    clear: both;
    width: 100%;
  }
  .layout-sidebar-second .block {
    float: left; /* LTR */
    width: 33%;
  }
  .layout-sidebar-second .block:nth-child(3n+1) {
    clear: both;
  }
}

@media all and (min-width: 960px) {
  
  .no-sidebars .layout-content {
    width: 100%;
    float: left; /* LTR */
  }

  .sidebar-first .layout-content {
    width: 80%;
    float: right; /* LTR */
    left: 0%; /* LTR */
  }
  .sidebar-second .layout-content {
    width: 80%;
    float: left; /* LTR */
    left: 0%; /* LTR */
  }
  .two-sidebars .layout-content {
    width: 60%;
    float: left; /* LTR */
    left: 20%; /* LTR */
  }

  .one-sidebar .layout-sidebar-first {
    width: 20%;
    float: left; /* LTR */
    left: 0%; /* LTR */
  }

  .two-sidebars .layout-sidebar-first {
    width: 20%;
    float: left; /* LTR */
    left: -60%; /* LTR */
  }


  .layout-sidebar-second {
    float: right; /* LTR */
    width: 20%;
  }
}

/**
 * Responsive tables.
 */
@media screen and (max-width:28.125em) { /* 450px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}
@media screen and (max-width:45em) { /* 720px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}


