/* ----------------- Content ------------------ */

.main-content, /* block--system--main.html.twig */
.node__content {
  margin-top: 10px;
}
.main-content {
  font-size: 1.071em;
}

.node__title-XXXXXXXXXXX {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}
.node__content p {
  margin: 0 0 1.2em;
}
.node__content ul,
.node__content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 15px;
}
.node--view-mode-teaser .node__content {
  font-size: 1em;
  clear: none;
  line-height: 1.6;
}
.node--view-mode-teaser .node__title {
  margin-top: 0;
  padding-top: 0.5em;
}
.node--view-mode-teaser .node__title a {
  color: #181818;
}
.node--view-mode-teaser {
  border-bottom: 1px solid #d3d7d9;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.node--view-mode-teaser.node--sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node__meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.node__meta img {
  float: left;
  margin: 1px 10px 0 0;
}
.field-type-taxonomy-term-reference {
  margin: 0 0 1.2em;
}
.field-type-taxonomy-term-reference .field-label {
  font-weight: normal;
  margin: 0;
  padding-right: 5px; /* LTR */
}
.field-type-taxonomy-term-reference .field-label,
.field-type-taxonomy-term-reference ul.links {
  font-size: 0.8em;
}
.node--view-mode-teaser .field-type-taxonomy-term-reference .field-label,
.node--view-mode-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left; /* LTR */
  padding: 0 1em 0 0; /* LTR */
  white-space: nowrap;
}
.node__links {
  text-align: right;
}

@media all and (min-width: 560px) {
  .node .field-type-image {
    /*float: left; /* LTR */
    /*margin: 0 1em 0 0; /* LTR */
  }
  .node .field-type-image + .field-type-image {
    clear: both;
  }
}
.field-type-image img,
.field-name-field-user-picture img {
  margin: 0 0 1em;
}
ul.links {
  color: #68696b;
  font-size: 0.821em;
}
.node--unpublished,
.unpublished {
  padding: 20px 15px 0;
}
.node--unpublished .comment-text .comment-arrow,
.unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}




/* --------------- Secondary Menu ------------ */

.region-secondary-menu .menu {
  text-align: right; /* LTR */
  font-size: 0.929em;
  margin: 0 10px;
  padding: 0;
}
[dir="rtl"] .region-secondary-menu .menu {
  text-align: left;
}
.region-secondary-menu .menu li {
  margin: 0;
  padding: 0;
  display: inline;
}
.region-secondary-menu .menu a {
  display: inline-block;
  padding:  0.8em;
}
.region-secondary-menu .menu a:hover,
.region-secondary-menu .menu a:focus {
  text-decoration: underline;
}


