<article>

{% if content.field_image %}
    {{ content.field_image }}
{% endif %}

<div class='slider-left'>
{% if display_submitted %}
  <div class="date">{% trans %} {{ date|passthrough }} {% endtrans %}</div>
{% endif %}

{{ title_prefix }}
{# {% if not page %} #}
  <h2 class="slide-title">
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
{# {% endif %} #}
{{ title_suffix }}

{{ content|without('field_tags', 'field_image', 'comment', 'links') }}

{% if content.links %}
  <footer>
    {{ content.links }}
  </footer>
{% endif %}

</div>
</article>
