{#
/**
 * Usunięto div'a otaczającego całość.
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<section class="slider">
<div class="flexslider">
<ul class="slides">
{% for row in rows %}
  <li{{ row.attributes }}>{{ row.content }}</li>
{% endfor %}
</ul>
</div>
</section>
</{{ list.type }}>


