{#
/**
 * @file
 * Karol's theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 *
 * @karol Usunąłem początkowego div'a z atrybutami. Generalnie, to jeżeli nie ma atrybutów
 *        to nie powinien się ten div wyświetlać, a jadnak się wyświetla.
 *
 */
#}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
<h1>xxxx</h1>
  <{{ list.type }}{{ list.attributes }}>

    {% for row in rows %}
      <li{{ row.attributes }}>{{ row.content }}</li>
    {% endfor %}

  </{{ list.type }}>
