{#
/**
 * Zmodyfikowny szablon.
 * Pozbywamy się div'a obejmującego każdy rząd, np. każdy node wyświetlany w trybie teaser.
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
{{ row.content }}
{% endfor %}
