{#
/**
 * @file
 * Karol's theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - attributes: HTML attributes for the containing element.
 *   - url: An optional URL the image can be linked to.
 *   - classes:
 *
 * @see template_preprocess_image_formatter()
 * @see karol_preprocess_image_formatter
 * @see /core/modules/image/src/Plugin/Field/FieldFormatter/ImageFormatter.php
 *
 * @todo Remove ...
 *
 * @ingroup themeable
 */
#}
{% if url %}
  <a{{ attributes }}>{{ image }}</a>
{% else %}
  {{ image }}
{% endif %}
