{#
/**
 * @file
 * Karol's theme implementation of a container used to wrap child elements.
 * Szablon przeznaczony dla widoków Views.
 *
 * Used for grouped form items. Can also be used as a #theme_wrapper for any
 * renderable element, to surround it with a <div> and HTML attributes.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
     containers.
 * 
 *
 * Views do każdego widoku dodają container <div class="views-element-container"></div>.
 * Funkcja ./core/modules/views/src/Element/View.php: '#theme_wrappers' => array('container'),
 *
 * Usuwamy tego div'a.
 *
 * @see template_preprocess_container()
 * @see karol_theme_suggestions_container_alter()
 *
 * @ingroup themeable
 */
 #}
{{ children }}
