{#
/**
 * @file
 * Karol's theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 * @see karol_theme_suggestions_region_alter()
 *
 * @ingroup themeable
 *
 * @karol Szablon generuje region bez dodatkowych znaczników.
 *

 */
#}
{% if content %}
  {{ content }}
{% endif %}
