{#
/**
 * @file
 * Karol's theme implementation to display a node.
 *
 * Dodatkowe zmienne:
 * - meta_attributes: zmienna dla nagłówka node
 *
 *
 * @see template_preprocess_node()
 * @see karol_preprocess_node()
 *
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {% if page %}
    <h1 id="page-title">{{ label }}</h1>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <header>
      {{ author_picture }}
      <div{{ author_attributes.addClass('author-date') }}>
        {% trans %}Submitted by {{ author_name|passthrough }} on {{ date|passthrough }}{% endtrans %}
        {{ metadata }}
      </div>
    </header>
  {% endif %}

  <section{{ content_attributes.addClass('art-content') }}>
    {{ content|without('comment', 'links') }}
  </section>

  {% if content.links %}
    <footer>
      {{ content.links }}
    </footer>
  {% endif %}

  {{ content.comment }}

</article>
