{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
  ]
%}
{% block content %}
  <div{{ content_attributes.addClass('main-content') }}>
    {{ content }}
  </div>
{% endblock %}
