.button {
  padding: 4px 1.5em;
  border: 1px solid #504EA0;
  border-radius: 5px;
}
.button:hover,
.button:focus {
  background-color: #f9f8f6;
  color: #1a1a1a;
  outline: none;
}
input[type="text"],
input[type="search"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%; 
  font: 400 17px/1.6 Arial,sans-serif;
  padding: 2px;
}
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

label {
  font-weight: bold;
}
textarea {
  display: block;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
