.logo-link {
  float: left;
  width: 325px;
}
.logo-link h1 {
  display: none;
}
.logo-link .home {
  background: url(../../images/logo2.gif) no-repeat 0 0;
  width: 370px;
  height: 120px;
  display: block;
  position: absolute;
  /*transition: background .25s ease-out 1s; // tu czeka 1s*/ 
  transition: background .25s ease-in;
}

@media all and (min-width: 461px) {
  .logo-link .home {
    background: url(../../images/logo.gif) no-repeat 0 0;
  }
}



