h1#page-title {
margin-bottom: 7px;
font: 600 42px/46px "franklin_gothic_cond_demi",Arial,sans-serif;
color: #000;
}

.main-content .author-date {
  font: bold 14px/2 Arial,sans-serif;
  color: black;
  margin: .5em 0;
}
.main-content .art-content {
  font: normal 17px/1.6 Arial,sans-serif;
  color: #1e1e1e;
}
.node--view-mode-teaser {
  border-bottom: 1px solid #dedede;
  margin-bottom: 14px;
  padding-bottom: 14px;
}
.node--view-mode-teaser:after {
  content: "";
  display: table;
  clear: both;
}
.node--view-mode-teaser .author-date {
  color: yellow;
}
.node--view-mode-teaser > h2 {
 font: bold 20px/1 Arial,sans-serif;
}
.node--view-mode-teaser > h2 a {
  color: #000;
}
.node--view-mode-teaser .foto {
  float: left;
  margin-right: 13px;
}
.node--view-mode-teaser .art-content {
  font: 400 14px/1.2 Arial,sans-serif;
  color: #1e1e1e;
}

#views-blockkarol-recent-content2-block-1 .node--view-mode-teaser {
	float: left;
	width:	25%;
}

#views-blockkarol-recent-content2-block-1 .node--view-mode-teaser .foto {
  float: none;
}




