/*
 * Style te dotyczą primary-menu znajdującego się w regione standardowym
 * dla primary-menu, czyli w regionie primary menu.
 * Jeżeli przeniesiemy te menu do innego regionu, należy dodać dodatkowe style
 * dla regionu lub zupełnie dostosować te style dla innego regionu.
 */

.menu-item {
    margin: 0;
  padding: 0;
}


.region-primary-menu .menu--main .menu {
  display: none;
  height: auto;
  white-space: nowrap;
}
.region-primary-menu .menu--main .menu .menu-item {
  text-align: center;
  width: auto;
  padding: 0px;
  background: none;
}
.region-primary-menu .menu--main .menu .menu-item a {
  display: inline-block;
  color: #3b3b3b;
  font-size: 19px;
  line-height: 50px;
  margin: 0px;
  padding: 0 13px;
  position: relative;
  cursor: pointer;
}
.region-primary-menu .menu--main .menu .menu-item a:hover {
  color: red;
  text-decoration: none;
}
.region-primary-menu .menu--main .menu .menu-item--active-trail {
  background-color: yellow;
}
.region-primary-menu .menu--main .menu .menu-item--active-trail a {
  color: green;
  background-color: yellow;
  text-decoration: none;
}
a#menu-toggle {
  display:block;
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
  padding: 0.7em 0 0.7em 10px;
  text-decoration: none;
  text-shadow: 0 1px #EEEEEE;
  position:relative;
}
a#menu-toggle:after {
  content:"";
  background: url('../../images/toggle.png') no-repeat;
  width: 22px;
  height: 30px;
  display: inline-block;
  position: absolute;
  right: 10px;
}

@media all and (min-width: 461px) and (max-width: 1500px) {
  .region-primary-menu .menu--main .menu {
    display: block;
  }
  .region-primary-menu .menu--main .menu .menu-item {
    display: inline-block;
  }
  a#menu-toggle {
    display:none;
  }
}


.region-secondary-menu .menu-item,
.region-header .menu-item {
  display: inline-block;
}

/* 
 * Menu z obrazkami.
 * Menu wzorowane na: gladcamp.org
 */
.region-primary-menu .menu--main .menu .menu-item a {
  background: url('../../images/mySprite.png') no-repeat;
  padding-left: 54px;
}

.region-primary-menu .menu--main .menu .aktualności a {
  background-position: 0 0;
}
.region-primary-menu .menu--main .menu .dla-mediów a {
  background-position: 0 -100px;
}
.region-primary-menu .menu--main .menu .doradcy a {
  background-position: 0 -200px;
}





.layout-sidebar-second .menu--main .menu-item {
  display: block;
}
.layout-sidebar-second ul.menu .menu-item a {
  display: block;
  cursor: pointer;
  color: #3b3b3b;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
}
.layout-sidebar-second ul.menu .menu-item a:hover {
  background-color: gray;
}
.layout-sidebar-second ul.menu .menu-item a {
  padding: 8px 12px 0 12px;
}
.layout-sidebar-second ul.menu ul .menu-item a {
  padding-left: 27px;
}
.layout-sidebar-second ul.menu ul li.menu-item--expanded > a,
.layout-sidebar-second ul.menu ul a.active,
.layout-sidebar-second ul.menu ul a:hover {
  background: url(../../images/menu-collapsed.png) no-repeat left center;
}


